* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Responsive CSS */

.row::after {
  content: "";
  clear: both;
  display: flex;
}

[class*="col-"] {
  float: left;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

h1 {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  color: #ef3d65;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #414042;
  margin-bottom: 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.container {
  padding-left: var(--bs-gutter-x, 4rem);
  padding-right: var(--bs-gutter-x, 4rem);
}

.text-center {
  text-align: center;
}

.btn {
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}

.block {
  display: block;
}

.side-component .dropdown:hover .dropbtn {
  transform: initial;
}

.flex {
  display: flex;
}

.side-component {
  width: 100%;
  margin-top: 5%;
}

.btn {
  border: none;
  background: transparent;
  box-shadow: none;
}

.text-right {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .container {
    padding-left: var(--bs-gutter-x, 1rem);
    padding-right: var(--bs-gutter-x, 1rem);
  }

  .flex {
    display: initial;
  }

  .side-component {
    margin-top: 50px;
    margin-left: 0;
  }
}
